
<% @restaurants.each do |restaurant| %>
<div class="col-xs-12 col-sm-6 col-md-4 ">
  <div class="restaurant-item">
    <%= link_to restaurant_path(restaurant) do %>
      <%= image_tag restaurant.image,class: "img-responsive center-block" %>
    <% end %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.category.name %></p>
    <p><%= truncate(restaurant.description, length: 70) %></p>
  </div>
</div>

<% end %>
