<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Restaurant ID</th>
        <th>category</th>
        <th>Restaurant name</th>
        <th>More detail</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
      <tr>
        <th><%= restaurant.id %></th>
        <th><%=restaurant.category.name %></th>
        <th><%= restaurant.name %></th>
        <th><%= link_to "Show", admin_restaurant_path(restaurant) %>
          <%= link_to "Edit", edit_admin_restaurant_path(restaurant) %>
          <%= link_to "Delete", admin_restaurant_path(restaurant),
              method: :delete,data:{confirm:"Are you sure"}%>
        </th>

        <% end %>

      </tr>
    </tbody>

  </table>

<p><%= link_to "New_restaurant", new_admin_restaurant_path %></p>
<%= paginate @restaurants %>

</div>
