
<div class="panel panel-default container">
  <div class="panel-heading">
    <h2><%= @restaurant.name %> </h2>
    <p><%= @restaurant.category.name %></p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Opening Hours: <%= @restaurant.opening_hours %></li>
    <li class="list-group-item">Tel: <%= @restaurant.tel %></li>
    <li class="list-group-item">Address: <%= @restaurant.address %></li>
    <li class="list-group-item">Description:<%= @restaurant.description %></li>
  </ul>
  <br>
  <%= image_tag @restaurant.image, width: '600px' %>

  <br>
  <br>
  <% @restaurant.comments.each do |comment| %>
    <% h = comment.user.email.split("@") %>
    <div>
      <h4>user name: <%=h[0]%></h4>
      <p><%= simple_format comment.content %></p>
      <p class="text-muted">
        <em><%= time_ago_in_words(comment.created_at)%> ago - </em>
        <% if current_user.admin? %>
          <%= link_to "Delete", restaurant_comment_path(@restaurant, comment), method: :delete %>
        <% end %>
      </p>
    </div>
    <hr>
  <% end %>


  <%= form_for [@restaurant, @comment]  do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "gives comments", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "cancle", type: :reset, class: "btn btn-default" %>
    </div>
    <% end %>
  <%= link_to 'Back to index', restaurants_path %>

</div>
